<div
  style="
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  "
>
  <h2>Congratulations! You've earned a loyalty discount</h2>
  <p>
    A loyalty discount of
    <span style="color: #0070ba; font-weight: bold">€15</span> has been applied.
  </p>
  <p>
    <strong>Amount owed after discount:</strong>
    <span style="color: #0070ba">{@Invoice_Amount_after_discount}</span>
  </p>
  <p>
    <strong>Credits left after discount:</strong>
    <span style="color: #0070ba">{@Total_Credits_after_discount} Credits</span>
  </p>
</div>
